<header>
</header>
<section>
    <div class="container">
    	<div class="row">
			<div class="left-bar col-md-3 col-sm-3">
				<div class="profile-picture">
					<img src="<%= current_user.avatar.url %>" style="width: 100%; height: auto;"  title="Olá <%= current_user.fullname %>" />
				</div>

				<ul class="menu">
					<li><%= link_to "EDITAR PERFIL", edit_user_registration_path %></li>
					<li><%= link_to "CADASTRAR CURSO", new_track_path %></a></li>
					<li><a href="#">MEUS CURSOS</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-9">
				<div id="stage" class="row">
					<input type="hidden" id="#autosearch" />
					<%=image_tag("ring.gif", :class=> "ajax-loader")%>
				</div>
			</div>
		</div>
	</div>  
</section>
