<div class="form-view">
	<section>
		<div class="container">
			<div class="row">
				<h2>Editar curso</h2>
				<hr/>
				<%= form_for(track ,:html => { :multipart => true }) do |f| %>
					<div class="form-group">
				    	<%= f.label :title %><br />
				    	<%= f.text_field :title, autofocus: true, class: 'form-control' %>
					</div>
					<div class="form-group">
				    	<%= f.label :description %><br/>
				    	<%= f.text_area :description, autofocus: true, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :contents %><br/>
						<%= file_field_tag "attachments[]", type: :file, multiple: true %>
					</div>
					<div class="form-group">
					<div class="row gallery-edit">
						<label for="id">Imagens já cadastradas (click para remove-lás)</label><br/>
						<input type="hidden" name="id" value="">
						<% track.contents.each do |content| %>
							<div class="col-sm-4">
								<img class="content-deletable" src="<%= content.file.url(:thumb) %>" alt="Click para remover imagem!" />
							</div>
						<% end %>
					</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Enviar" class="btn btn-default" />
					</div>
				<% end %>
			</div>
		</div>

	</section>
</div>