<div class="row">
	<div class="col-md-6">
		
		<div>
			<h1><%= track.title %></h1>
			<p>
				<small>Autor: <%= track.owner.fullname %> |</small>
				<small>Linguagem: <%= track.language&.humanize %> | </small>
				<small>Idioma: <%= t(track.idiom) %></small>
			</p>
			<p class="text-justify"><%= track.description %></p>
		</div>
		<hr/>

		<h3>Ementa - <%= track.tasks.count %> tarefa(s)</h3>
		<% Task.categories.each do |category| %>
			<% if track.tasks_of(category[0])&.any? %>
				<p><%= t(category[0]) %></p>
				<ul>
					<% track.tasks_of(category[0]).each do |task| %>
						<li><%= task.title %></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>

		<% unless current_user.coursing?(track) %>
			<hr/>
			<%= form_for([current_user, Grade.new]) do |f| %>
				<input type="hidden" name="grade[track_id]" value="<%= track.id %>">
				<input type="submit" class="btn btn-primary btn-large grade-button" style="width: 100%" value="Iniciar"></input>
			<% end %>
		<% end %>

		<% if policy(track).update? %>
		  <hr/>
		  <%= link_to edit_track_path(track), class: 'btn btn-primary' do %>
		   	<i class="fa fa-pencil"></i> <%= t(:edit) %>
		  <% end %>
		  <%= link_to track_tasks_path(track), class: 'btn btn-primary' do %>
		   	<i class="fa fa-plus"></i> <%= t(:create_task) %>
		  <% end %>
		<% end %>

	</div>

	<div class="col-md-6">
		<% if track.contents.any? %>
			<div>
				<h3>Conteúdos</h3>
				<div class="row">
					<% track.contents.each do |content|%>
						<a href="<%= content.file.url %>" data-toggle="lightbox" data-gallery="multiimages" data-title="<%= content.file.name %>" class="col-sm-3 thumb"><img src="<%= content.file.url(:thumb) %>" class="img-responsive"></a>
	                <% end %>
	            </div>
	            <hr/>
	        </div>
        <% end %>
        <div class="row">
			<div class="col-sm-6">
             	<div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= track.users_started %></div>
                                <div>Total de inscritos</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= track.users_finished %></div>
                                <div>Total de concluintes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>

</div>
