<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Tarefas do curso</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<small>Total de tarefas: <%= track.tasks.count %></small>
		<% Task.categories.each do |category| %>
		<div class="task-list">
			<h4>
				<%= link_to new_track_task_path(track) do %>
			   	  <i class="fa fa-plus"></i>
			    <% end %>
				<%= t(category[0]) %>:
			</h4>
			<% if track.tasks_of(category[0])&.any? %>
				<ul>
					<% track.tasks_of(category[0]).each do |task| %>
						<li>
							<%= task.title %>
							<%= link_to track_task_path(track,task), method: :delete  do %>
								<i class="fa fa-times" aria-hidden="true"></i>
							<% end %>
							<%= link_to edit_track_task_path(track,task), method: :get  do %>
								<i class="fa fa-pencil" aria-hidden="true"></i>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% else %>
				<ul>
					<li>Nenhuma tarefa encontrada nessa categoria!</li>
				</ul>
			<% end %>
		</div>
		<% end %>
	</div>
</div>