<%= form_for([current_user, grade, activity]) do |f| %>
	<div class="row">
		<div class="col-sm-3">
			<div class="activity-box">
				<h3><%= activity.task.title %></h3>
				<p><%= activity.task.content %></p>
			</div>
		</div>
		<div class="col-sm-5">
			<%= render partial: "code/editor", locals: { form: f, snippet:  activity.task.snippet, language: track.language } %>
		</div>
		<div class="col-sm-4">
			<div class="activity-box">
				<%= render partial: "code/console", locals: { form: f, rows: 11 } %>
				<hr/>
				<h4>Expectativas</h4>
				<ul>
					<% activity.task.expectations.each do |expectation| %>
						<li><%= expectation.to_text %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<a href="#" class="btn btn-info" style="float: left;" disabled>ANTERIOR</a>
		</div>
		<div class="col-sm-4">
			<%= f.submit 'ENVIAR', :class => 'btn btn-primary', :style => 'width: 100%;' %>
		</div>
		<div class="col-sm-4">
			<a href="#" class="btn btn-info" style="float: right;" disabled>PRÓXIMO</a>
		</div>
	</div>
<% end %>
